fastapi
uvicorn[standard]
pandas
numpy
python-multipart
matplotlib
seaborn
reportlab
python-dotenv
groq
pydantic
openpyxl
pillow
scikit-learn

# --- Database + auth ---
sqlalchemy
psycopg2-binary
alembic
passlib[bcrypt]
python-jose[cryptography]
email-validator